@font-face {
    font-family: "IBMPlexMono-light";
    src: url(/fonts/IBMPlexMono-Light.otf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(/fonts/Montserrat-Light.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --hostname-color: rgb(171, 255, 46);
    --header-font-family: "IBMPlexMono-Light", "Courier New", Courier, monospace;
    --textColor: rgb(250, 250, 250);
    --borderColor: rgb(17, 217, 217);
    --buttonBackgroundColor: rgb(17, 217, 217);
    --font-main: "Montserrat-Light", Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(41, 41, 41);
    color: var(--textColor);
    font-family: var(--font-main);
    letter-spacing: 0.15em;
    margin: 1.5em 1em 0;
    font-synthesis: none;
    p {
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em;
        text-shadow: 1.5px 1.5px 1.5px black;
        font-family: var(--header-font-family);
        margin-top: 0;
    }
    h2 {
        font-size: 1.2em;
        font-family: var(--font-main);
        font-weight: unset;
    }
}

button {
    letter-spacing: 0.1em;
    font-family: var(--font-main);
}

div,
canvas {
    border-radius: 1em;
    border: solid 1px;
    border-color: var(--borderColor);
}

canvas {
    padding: 0.25em;
    box-sizing: content-box;
}

.chart-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-content: start;
}

.chart-container,
.chart-processes {
    max-width: 100%;
    height: 500px;
    flex: 1 1;
    overflow: hidden;
    position: relative;
    border: none;
}

.chart-processes canvas,
.chart-container canvas {
    letter-spacing: normal;
}

.inner-chart-container,
.chart-processes {
    margin-bottom: 1em;
    box-sizing: border-box;
}

.no-border {
    border: unset;
}

#time-buttons {
    button {
        border-radius: 0.5em;
        padding: 2px 4px;
        min-width: 4em;
        height: 2.4em;
        margin: 1em 0.25em;
        cursor: pointer;
        background-color: #333;
        color: white;
        border-top: #b4b3b3 0.25px solid;
        border-left: #b4b3b3 0.25px solid;
        border-bottom: solid 1px black;
        border-right: solid 1px black;
    }

    button {
        text-transform: none !important;
    }

    button.timeSelection {
        background-color: var(--buttonBackgroundColor);
        color: black;
    }

    button:active {
        background: linear-gradient(0deg, rgba(150, 150, 150, 0.5), 10%, rgba(51, 51, 51, 0.5));
        color: whitesmoke;
    }
}

@media (hover: hover) {
    #time-buttons button:hover {
        border: var(--hostname-color) 1px solid;
        border-radius: 0.5em;
    }
}
