@font-face {
    font-family: "IBMPlexMono-light";
    src: url("$lib/fonts/IBMPlexMono-Light.otf");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Montserrat-light";
    src: url("$lib/fonts/Montserrat-light.ttf");
    font-style: normal;
    font-display: swap;
}

:root {
    --header-font-family: IBMPlexMono-Light, "Courier New", Courier, monospace;
    --textColor: rgb(250, 250, 250);
    --borderColor: rgb(17, 217, 217);
    --buttonBackgroundColor: rgb(17, 217, 217);
    --font-main: "Montserrat-light", Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgb(41, 41, 41);
    color: var(--textColor);
    font-family: Montserrat-light, Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.15em;
    margin: 1.5em 1em 0;
    font-synthesis: none;
    p {
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em;
        text-shadow: 1.5px 1.5px 1.5px black;
        font-family: var(--header-font-family);
        margin-top: 0;
    }
    h2 {
        font-size: 1.2em;
        font-family: var(--font-main);
        font-weight: unset;
    }
}

div,
canvas {
    border-radius: 1em;
    border: solid 1px;
    border-color: var(--borderColor);
}

canvas {
    padding: 0.25em;
    box-sizing: content-box;
}
.chart-container {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    box-sizing: border-box;
    // width: 48vw;
    flex-direction: column;
    align-content: start;
}
.chart-container,
.chart-processes {
    // max-width: 48vw;
    max-width: 100%;
    height: 500px;
    flex: 1 1;
    overflow: hidden;
    position: relative;
}
.chart-processes canvas,
.chart-container canvas {
    letter-spacing: normal;
}
// .chart-processes {
//     // display: flex;
//     // height: 500px;
// }
.inner-chart-container,
.chart-processes {
    /* width: 100%; */
    margin-bottom: 1em;
    box-sizing: border-box;
}

.no-border {
    border: unset;
}

.hostname {
    font-size: 1.25em;
    font-weight: 800;
    color: rgb(171, 255, 46);
}

button {
    border-radius: 0.5em;
    padding: 2px 4px;
    min-width: 4em;
    height: 2.4em;
    background-color: whitesmoke;
    margin: 1em 0.25em;
}
